// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-page-row {
	border-radius: 20px;
	background-color: #1DD1BC;
}

.post-title {
	text-transform: uppercase;
	// font-weight: bold;
}

.post-body {
	word-wrap: break-word;
}

.post-page-spacer {
	height: 25px;
}