// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-page-row {
	margin-top: 25px;
	margin-bottom: 25px;
}

.user-create-blog-link {
	margin-bottom: 15px;
}

// this is for the links to blogs from the user's homepage
.blog-link {
	border-radius: 20px;
	background-color: #1DD1BC;
}

.user-edit-link {
	float: right;
}

.user-delete-link {
	float: right;
}

.user-logout-link {
	float: right;
}

.users-index-user-link {
	margin-bottom: 25px;
	border-radius: 15px;
	background-color: #1DD1BC;
}

.user-link-to-users {
	float: right;
}